<!DOCTYPE HTML>
<html>
<head>

   <title>{% block title %}Car | {% endblock %}</title>
   {% block head %}

   {% endblock %}
</head>
<body>

   {% if is_granted('IS_AUTHENTICATED_FULLY') %}
   <li role="presentation">
      <a href="{{ path('logout') }}">Déconnexion</a>
   </li>
   {% endif %}
   {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
   <li role="presentation" class="">
      <a href="{{ path('app_security_login') }}">Connexion</a>
   </li>
   <li role="presentation" class="">
      <a href="{{ path('app_registration_register') }}">Inscription</a>
   </li>
{% endif %}
{% block body %}
{% endblock %}

</body>
</html>
